.collection .collection-item {
  cursor: pointer;
}
nav {
  display: cnone;
}
.pt-5 {
  padding-top: 50px;
}
.cssCode {
  border: 1px solid #949494;
  background: #eeeeee;
  border-radius: 5px;
  min-height: 60px;
  margin-bottom: 20px;
  padding: 10px;
}
input[type="color"] {
  width: 100%;
  margin-top: 10px;
  height: 30px;
}

.transformContainer {
  width: 300px;
  background-color: #000000bd;
  padding: 50px;
  text-align: center;
  margin: auto;
  border: 3px dashed #bf800c;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.card {
  background-color: #ffffff26;
  backdrop-filter: blur(10px);
  border: solid 2px transparent;
  background-clip: padding-box;
}

footer .footer-copyright {
  position: fixed;
  width: 100vw;
  bottom: 0px;
  left: 0px;
  background-color: rgb(209, 209, 209);
}
footer .footer-copyright a {
  font-weight: bold;
  color: rgb(56, 56, 56);
}
p.range-field.two-range input {
  width: calc(50% - 5px);
}

p.range-field.two-range .title {
  display: block;
}
.textShadow {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}
